body {
  background-color: black;
  background-image: url(img/billy.jpg);
  background-size: cover;
}

h1 {
  color: white;
}

#record_button b {
  color: red;
}

#billy {
  position: fixed;
  width: 100%;
  height: 100%;
}

#record_button {
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 300%;
}